     body {
            font-family: sans-serif;
            text-align: center;
            background: #eee;
        }
        video{
            transform: scaleX(-1);
            max-width:100%
        }
        canvas {
            max-width:50%
        }
        .machine-buttons img {
            width: 120px;
            cursor: pointer;
            margin: 10px;
            border: 2px solid transparent;
            border-radius: 10px;
            transition: border 0.3s;
        }
        .machine-buttons img:hover {
            border: 3px solid #F88379;
        }
       
        .machine-buttons img.clicked {
            border: 3px solid #F88379;
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .left-aligned {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .header {
            display: flex;
            align-items: center;
            gap: 10px;       
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 20px;   
            cursor: pointer;    
        }

       #download{
        width: 40px;
        height: 40px;
        background-size: cover;   
        background-color: none;
        border: none;
        background-image: url('buttons/download.png');
       }